<div class="container p-4">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Lessons" %>

  <div class="lessons">
    <h1>Lessons</h1>

    <% @lessons.each do |lesson| %>
      <%= link_to lesson_path(lesson.slug) do %>
        <%= render partial: "lessons/lesson-card", locals: { lesson: } %>
      <% end %>
    <% end %>
  </div>

  <% if Current.user&.admin? %>
    <%= link_to "New lesson", new_lesson_path %>
  <% end %>

</div>